* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid #4A90E2;
  outline-offset: 2px;
  border-radius: 3px;
} 

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: oklch(0.15 0 0);
    --bg: oklch(0.18 0 0);
    --bg-light: oklch(0.2 0 0);
    --text: oklch(0.9 0 0);
    --text-dim: oklch(0.8 0 0);
    --text-muted: oklch(0.6 0 0);
    --primary: #4eafff;
    --primary-rgb: 78, 175, 255;
  }
} */

/* @media (prefers-color-scheme: light) {
  :root {
    --bg-dark: oklch(0.7 0 0);
    --bg: oklch(0.8 0 0);
    --bg-light: oklch(0.9 0 0);
    --text: oklch(0.1 0 0);
    --text-dim: oklch(0.2 0 0);
    --text-muted: oklch(0.4 0 0);
    --primary: #004680;
    --primary-rgb: 0, 70, 128;
  }
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-dark: oklch(0.15 0 0);
  --bg-dark-transparent: oklch(0.15 0 0 / 0.5);
  --bg: oklch(0.18 0 0);
  --bg-transparent: oklch(0.18 0 0 / 0.5);
  --bg-light: oklch(0.25 0 0);
  --bg-light-transparent: oklch(0.25 0 0 / 0.5);
  --bg-highlight: oklch(0.3 0 0);
  --bg-highlight-transparent: oklch(0.3 0 0 / 0.5);
  --text: oklch(0.9 0 0);
  --text-bright: oklch(0.98 0 0);
  --text-dim: oklch(0.8 0 0);
  --text-muted: oklch(0.75 0 0);
  --primary: #4eafff;
  --primary-rgb: 78, 175, 255;
  --warning: hsl(55, 100%, 63%);
  --shadow-s:
    inset 0 1px 2px #ffffff30,
    0 1px 2px #00000030,
    0 2px 4px #00000015;
  --shadow-m:
    inset 0 2px 4px #ffffff30,
    0 2px 4px #00000030,
    0 4px 8px #00000015;
  --shadow-l:
    inset 0 4px 8px #ffffff30,
    0 4px 8px #00000030,
    0 8px 16px #00000015;

  --viewWidthPx: 1200;

  color-scheme: light dark;
  color: var(--text-dim);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px); */
  background-size: 1em 1em;
  /* transform: scale(0.7); */
}

a {
  text-decoration: inherit;
}

ol {
  padding-left: 2.5em;
}

p {
  color: var(--text-muted);
}

img {
  display: block;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

/* 3D context */
#chipZone {
  display: flex;
  perspective: 2000px;          /* adjust depth */
  perspective-origin: 50% 50%;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1200px;
  width: 100%;
  gap: 5em;
  padding: 2em 2em 0 2em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
}


.topicHeader {
  text-align: center;
}

.subHeader {
  font-size: 2em;
  text-align: center;
} 

#demos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2em;
  /* background-color: var(--bg);
  padding: 1em;
  border-radius: 1em;
  box-shadow: var(--shadow-s); */
}

#links, #repos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2em;
}

#links > .content, #repos > .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;

}

pre {
  margin: 0;
  padding: 0;
}
/* .reloadIcon:not(:active) {
} */

.rotated {
  transform: rotate(180deg);
}


#bloomCanvas {
  position: absolute;
  z-index: 0;
  filter: blur(5px);
  /* background-color: rgba(0, 0, 0, 0.2); */
}

#particlesCanvas {
  position: absolute;
  z-index: 1;
  /* filter: blur(5px); */
  /* background-color: black; */
}

#chipZone {
  position: relative;
  padding: 2em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  overflow: hidden;
  max-width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes growAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(180deg);
  }
  100% {
    transform: scale(1.3) rotate(360deg);
  }
}

@keyframes shrinkAndRotate {
  0% {
    transform: scale(1.3) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#intro {
  --introHeight: min(102, var(--viewWidthPx) * 0.15);
  --ratio: calc(var(--introHeight) / 102);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  /* height: 6vw; */
  height: calc(1px * var(--introHeight));
  padding: calc(var(--ratio) * 1em);
  background-color: var(--bg-transparent);
  border-radius: 5em;
  box-shadow: var(--shadow-l);
  backdrop-filter: blur(3px);
}

#intro h2 {
  font-size: calc(var(--ratio) * 2em);
  color: var(--text-bright);
  line-height: 1.1;
}

#yap {
  font-size: calc(var(--ratio) * 1em);
  color: var(--text-muted);
}

#me {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  color: var(--text-bright);
}

#nameAndYap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#pfpImg {
  position: relative;
  border-radius: 50%;
  /* height: calc(var(--introHeight) - (var(--ratio) * 2em)); */
  height: calc((1px * var(--introHeight)) - (var(--ratio) * 2em));
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: content-box;
}

#socials {
  display: flex;
  position: relative;
  /* height: 10px; */
}

#socials a {
  position: relative;
  height: max-content;
}

#socials img {
  position: relative;
  /* width: 70px;
  height: 70px; */
  /* height: calc(var(--introHeight) - (var(--ratio) * 2em)); */
  height: calc((1px * var(--introHeight)) - (var(--ratio) * 2em));
  filter: grayscale(100%) brightness(70%);
  transition: filter 0.3s;
}

#socials img:hover {
  filter: grayscale(0%) brightness(90%);
}

#intro pre {
  text-wrap: wrap;
}